In [1]:
import sys
!{sys.executable} -m pip install -U scikit-learn pandas

Requirement already satisfied: scikit-learn in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (1.8.0)
Requirement already satisfied: pandas in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (3.0.0)
Collecting pandas
  Downloading pandas-3.0.1-cp314-cp314-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.24.1 in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from scikit-learn) (2.4.1)
Requirement already satisfied: scipy>=1.10.0 in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in .\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.1-cp314-cp314-win_amd64.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ----- ---------------------------------- 1.3/9.9 MB 31.5 MB/s eta 0:00:01
   ------------- -------------------------- 3.4/9.9 MB 10.2 MB/s eta 0:00:01
   ------------------ --------------------- 4.5/9.9 MB 8.1 MB/s eta 0:00:01
   ----------------------- ---------------- 5.8/9.9 MB 7.8 MB/s eta 0:00:01
   ----------------------------- ---------- 7.3/9.9 MB 7.5 MB/s eta 0:00:01
   ------------------------------------ --- 8.9/9.9 MB 7.6 MB/s eta 0:00:01
   ---------------------------------------  9.7/9.9 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 6.9 MB/s  0:00:01
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 3.0.0
    Uninstalling pandas-3.0.0:
      Successfully uninstalled pandas-3.0.0
Successfully installed pandas-3.0.1

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Lenovo\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages\~andas'.
  You can safely remove it manually.

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [3]:
sentences = [
    "NLP is fun and NLP is useful",
    "I love learning NLP techniques",
    "TF IDF gives importance to rare words"
]

In [4]:
bow_vectorizer = CountVectorizer()  # default tokenization + lowercasing
bow_matrix = bow_vectorizer.fit_transform(sentences)

bow_df = pd.DataFrame(
    bow_matrix.toarray(),
    columns=bow_vectorizer.get_feature_names_out()
)

bow_df

,and,fun,gives,idf,importance,is,learning,love,nlp,rare,techniques,tf,to,useful,words
0,1,1,0,0,0,2,0,0,2,0,0,0,0,1,0
1,0,0,0,0,0,0,1,1,1,0,1,0,0,0,0
2,0,0,1,1,1,0,0,0,0,1,0,1,1,0,1

In [5]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(sentences)

tfidf_df = pd.DataFrame(
    tfidf_matrix.toarray(),
    columns=tfidf_vectorizer.get_feature_names_out()
)

tfidf_df

,and,fun,gives,idf,importance,is,learning,love,nlp,rare,techniques,tf,to,useful,words
0,0.327673,0.327673,0.000000,0.000000,0.000000,0.655347,0.000000,0.000000,0.498408,0.000000,0.000000,0.000000,0.000000,0.327673,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.528635,0.528635,0.402040,0.000000,0.528635,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.377964,0.377964,0.377964,0.000000,0.000000,0.000000,0.000000,0.377964,0.000000,0.377964,0.377964,0.000000,0.377964

In [6]:
bow_global = bow_df.sum(axis=0).sort_values(ascending=False)
bow_global.head(15)

nlp           3
is            2
fun           1
gives         1
idf           1
importance    1
and           1
learning      1
love          1
rare          1
techniques    1
tf            1
to            1
useful        1
words         1
dtype: int64

In [7]:
tfidf_global = tfidf_df.sum(axis=0).sort_values(ascending=False)
tfidf_global.head(15)

nlp           0.900448
is            0.655347
learning      0.528635
love          0.528635
techniques    0.528635
importance    0.377964
gives         0.377964
tf            0.377964
to            0.377964
idf           0.377964
rare          0.377964
words         0.377964
fun           0.327673
and           0.327673
useful        0.327673
dtype: float64

In [8]:
compare = pd.DataFrame({
    "BoW_total_count": bow_global,
    "TFIDF_total_score": tfidf_global
}).fillna(0)

compare_sorted = compare.sort_values("TFIDF_total_score", ascending=False)
compare_sorted.head(20)

            BoW_total_count  TFIDF_total_score
nlp                       3           0.900448
is                        2           0.655347
learning                  1           0.528635
love                      1           0.528635
techniques                1           0.528635
importance                1           0.377964
gives                     1           0.377964
tf                        1           0.377964
to                        1           0.377964
idf                       1           0.377964
rare                      1           0.377964
words                     1           0.377964
fun                       1           0.327673
and                       1           0.327673
useful                    1           0.327673

In [9]:
row = 0  # sentence index
tfidf_df.iloc[row].sort_values(ascending=False).head(10)

is            0.655347
nlp           0.498408
fun           0.327673
useful        0.327673
and           0.327673
gives         0.000000
idf           0.000000
learning      0.000000
importance    0.000000
rare          0.000000
Name: 0, dtype: float64