In [1]:
!pip install scikit-learn pandas

Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\lib\site-packages (1.7.2)
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (2.3.5)
Requirement already satisfied: scipy>=1.8.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd

In [5]:
sentences = [
    "My Name is Roshan Bilsore",
    "I am lerning machine learning",
    "Machine learning is powerful"
]
print("Sentences:")
for s in sentences:
    print(s)

Sentences:
My Name is Roshan Bilsore
I am lerning machine learning
Machine learning is powerful

In [6]:
bow_vectorizer = CountVectorizer()
bow_matrix = bow_vectorizer.fit_transform(sentences)
bow_features = bow_vectorizer.get_feature_names_out()
bow_df = pd.DataFrame(
    bow_matrix.toarray(),
    columns=bow_features
)
print("\n== BAG OF WORDS MATRIX ==")
bow_df

== BAG OF WORDS MATRIX ==

   am  bilsore  is  learning  lerning  machine  my  name  powerful  roshan
0   0        1   1         0        0        0   1     1         0       1
1   1        0   0         1        1        1   0     0         0       0
2   0        0   1         1        0        1   0     0         1       0

In [7]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(sentences)
tfidf_features = tfidf_vectorizer.get_feature_names_out()
tfidf_df = pd.DataFrame(
    tfidf_matrix.toarray(),
    columns=tfidf_features
)
print("\n===== TF-IDF MATRIX =====")
tfidf_df.round(3)

===== TF-IDF MATRIX =====

,am,bilsore,is,learning,lerning,machine,my,name,powerful,roshan
0,0.000,0.467,0.355,0.000,0.000,0.000,0.467,0.467,0.000,0.467
1,0.563,0.000,0.000,0.428,0.563,0.428,0.000,0.000,0.000,0.000
2,0.000,0.000,0.460,0.460,0.000,0.460,0.000,0.000,0.605,0.000